### Decode ###
status=decode
raw_dir=sample_data/argouml
load_model_dir=model/hidden-40-bugemd200-char-patfea-relu-newGUI-final0.117.model
feature_path=/shared/mlrdir3/disk1/ljwinnie/bug_report/sentence-classifier-nn/bug_report_01102019/1_pattern_features/features
hidden_dim=40
word_emb_dim=200
word_emb_dir=/shared/mlrdir3/disk1/ljwinnie/bug_report/sentence-classifier-nn/bug_word_embeding_200_newGUI_final.txt
dset_dir=model/hidden-40-bugemd200-char-patfea-relu-newGUI-train-final-fold0.dset